p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}

p {
  text-align: justify;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.equationbox {
  padding: 1em;
  background: #FDE2E2;
  color: black;
  border: 2px solid red;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.boxobjetivos {
  padding: 1em;
  background: lightgray;
  color: black;
  border: lightgray;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.graybox {
  padding: 1em;
  background: lightgray;
  color: black;
  border: 2px solid red;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.bluegraybox {
  padding: 1em;
  background: lightgray;
  color: black;
  border: 2px solid blue;
  border-radius: 10px;
}
.center {
  text-align: center;
}
