.book .book-body .page-wrapper .page-inner {
  max-width: 65%;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}

p {
  text-align: justify;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.equationbox {
  padding: 1em;
  background: #FDE2E2;
  color: black;
  border: 1px solid red;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.boxobjetivos{
    border: 3.5px solid #7D0101;
    border-radius: 10px;
}
.boxobjetivos-header{
    text-align: top;
    background: #7D0101;
    color: white;
    height: 30px;
}
.boxobjetivos-header p{
    text-align: center;
    line-height: 5px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
}
.boxobjetivos p{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.graybox{
    border: 3.5px solid #7D0101;
    border-radius: 10px;
}
.graybox-header{
    text-align: top;
    background: #7D0101;
    color: white;
    height: 30px;
}
.graybox-header p{
    text-align: center;
    line-height: 5px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
}
.graybox p{
    padding: 10px;
}


.center {
  text-align: center;
}

.recuadro {
  padding: 1em;
  background: #E8E8E8;
  color: black;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.bluegraybox {
  padding: 1em;
  background: lightgray;
  color: black;
  border: 2px solid blue;
  border-radius: 10px;
}
.center {
  text-align: center;
}

